html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: #9067C6;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

main {
  width: 350px;
  background: purple;
  font-size: 2rem;
  text-align: center;
}

#status {
  text-align: right;
  font-size: 1.2rem;
  color: white;
  padding: 10px 10px 0 0;
}
img {
  border-radius: 50%;
  border: lightpink 5px solid;
}

h1 {
  font-size: 3rem;
  padding: 20px 0;
}

h1, p {
  margin: 0 auto;
}



@media only screen and (min-width: 768px) {
  body {
    /* tablet - two column display */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px auto 30px;
    grid-template-areas: 
      "header header"
      "side content"
      "footer footer";
      color:red
  }
}